@use '../utils' as *;

.app {
    min-height: 100vh;
    width: 100%;
    background-color: var(--primary-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    
    .title {
        color: var(--primary-text-color);
    }
    
    .text {
        color: white;
    }
}
