//Colors

$white: hsl(0, 0%, 100%);
$gray: hsl(231, 77%, 90%);
$black: hsl(230, 35%, 7%);

:root {
    --primary-bg-color: #{$black};
    --primary-accent-color: #{$gray};
    --primary-text-color: #{$white};
}