@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

:root {
    //Fonts
    --font-general: 'Bellefair', serif;
    --font-accent: 'Barlow Condensed', sans-serif;
    --font-text: 'Barlow', sans-serif;

    //Font-weights
    --font-regular: 400;
}